@mixin font-face($font-family, $file-path, $weight: normal, $style: normal ) {
  @font-face {
    font-family: $font-family;
    src: url("#{$file-path}.eot");
    /* stylelint-disable */
    // disabling stylelint here because the indentation rule
    // doesn't like that we align all the url declarations.
    src: url("#{$file-path}.eot?#iefix") format('embedded-opentype'),
         url("#{$file-path}.woff2") format('woff2'),
         url("#{$file-path}.woff") format('woff'),
         url("#{$file-path}.ttf") format('truetype'),
         url("#{$file-path}.svg#${font-family}") format('svg');
    /* stylelint-enable */
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin placeholder-color($text-color) {
  &::-moz-placeholder {
    color: $text-color;
  }

  &::-webkit-input-placeholder {
    color: $text-color;
  }

  &:-ms-input-placeholder {
    color: $text-color;
  }
}

/*
 * Image replacement (does not work on buttons/inputs)
 */

%ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    width: 0;
    height: 100%;
  }
}

/* stylelint-disable */
@mixin horizontal-gradient($from, $to, $stop: 100%) {
  /* fallback/image non-cover color */
  background-color: $from;

  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(left, $from 0%, $to $stop);

  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, $from), color-stop($stop, $to));

  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(left, $from 0%, $to $stop);

  /* Opera 11.10+ */
  background-image: -o-linear-gradient(left, $from 0%, $to $stop);

  /* IE10+ */
  background: -ms-linear-gradient(left, $from 0%, $to $stop);

  /* Standard */
  background: linear-gradient(to right, $from 0%, $to $stop);

  /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
}
/* stylelint-enable */
